__pycache__/
*.py[cod]
*.egg-info/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
coverage.xml
dist/
htmlcov/
playwright-report/
test-results/
.env
deploy/helm/*/charts/
deploy/helm/*/tmpcharts-*/
